.container{
    margin-left:45%;
    padding-top:5%;
}
.container>*{
    margin-bottom:2%;
}
input{
    display:block;
    border:1px solid blue;
    border-radius: 10px;
    margin-bottom:2%;
}
.Button{
    margin-left:5%;
    padding:0 5% 0 5%;
}
.container>h1{
    margin-bottom: 10%;
    margin-left:3%;
}
.container>p{
    margin-left:4%;
}